:host {
  mat-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    margin: 100px auto;

    mat-card-header {
      justify-content: center;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
