.container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  margin: 10px;

  .post-card {
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    // font-size: 150%;
    margin: 5px;

    a {
      cursor: pointer;
      text-decoration: none;
      color: #ffffff;
    }

    // img {
    //   height: 200px;
    // }

    // .content {
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    // }
  }
}
