.container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  margin: 10px;

  .post-card {
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
  }
}
